<div class="container">
  <form action="">
    <div class="form-group">
      <h1 class="text-center text-primary">To Do App</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add Todo" name="todo" #todo>
        <div class="input-group-append">
          <span class="input-group-text" (click)="addTodo(todo.value)">Add Item</span>
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li *ngFor="let item of todoArray">{{item}}</li>
      </ul>
    </div>
  </form>
</div>